*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}

main > section{
    height: 100vh;
}
main > section > article:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}
main > section > article:nth-child(2) > fieldset{
    height: 50vh;
    width: 30vw;
}

main > section > article:nth-child(2) > fieldset > img{
    width: 100%;
}

main > section > article:nth-child(3){
    display: flex;
    justify-content: center;
}
main > section > article:nth-child(3) > fieldset{
    width: 30vw;
    height: 40vh;
}
main > section > article:nth-child(3) > fieldset > img{
    width: 100%;
}