body {
    height: 100vh;
    background: var(--body-second-color);
    font-family: 'Mont';
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

main > section > button:first-child{
    position: fixed;
    display: flex;
    padding: 20vh 5vw 20vh 5vw;
    width: fit-content;
    border-radius: 0.5rem;
    border: none;
    font-family: var(--text-font);
    background-color: var(--body-second-color);
    color: var(--text-color);
}

main > section > button:last-child{
    visibility: hidden;
}

#verifier{
    visibility: hidden;
}

#divcartemain{
    visibility: hidden;
}

header{
    display: flex;
    align-items: center;
    height: 5vh;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header > nav > div > img{
    height: 2rem;
}

header > nav > ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
header > nav > div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

main > section {
    height: 100vh;
    background: var(--body-principal-color);
    margin: 0 1rem 0 1rem;
}

main > section:nth-child(1){
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    height: 95vh;
}

main > section > div{
    display: flex;
    justify-content: center;
}
main > section > div > fieldset{
    width: 10vw;
    height: 30vh;
}

main > section > div > fieldset > img{
    width: 100%;
}