@font-face {
    font-family: Mont;
    src: url(../font/Montserrat-Regular.ttf);
}

:root{
    --body-principal-color : #262a2d;
    --body-second-color : #343B3B;
    --palett-firstgreen-color : #637658;
    --palett-secondgreen-color : #868A4E;
    --palett-thirdgreen-color : #BDB64D;
    --text-font : 'Mont'
}
*{
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    background: var(--body-principal-color);
}
