@font-face {
    font-family: Mont;
    src: url(../font/Montserrat-Regular.ttf);
}

:root{
    --body-principal-color : #262a2d;
    --body-second-color : #343B3B;
    --palett-firstgreen-color : #637658;
    --palett-secondgreen-color : #868A4E;
    --palett-thirdgreen-color : #BDB64D;
    
    --text-color : white;
    --text-font : 'Mont'
}
*{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    height: 100vh;
    background: var(--body-second-color);
    font-family: 'Mont';
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: var(--text-font);
    background-color: var(--body-principal-color);
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    height: 5vh;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header > nav > div > img{
    height: 2rem;
}

header > nav > ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
header > nav > div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

main > section {
    height: 100vh;
    background: var(--body-principal-color);
    margin: 0 1rem 0 1rem;
}

main > section:nth-child(1){
    border-radius: 1rem 1rem 0 0;
    height: 95vh;
}

main > section > div{
    display: flex;
}
main > section > div > fieldset{
    width: 30vw;
    height: 75vh;
}

main > section > div > fieldset > img{
    width: 100%;
}